<!DOCTYPE html>
<html>
<head>
    <title>Practice Test</title>
</head>
<body>
    <h1>📝 Practice Engineering MCQ Test</h1>
    <form method="post">
        {% csrf_token %}
        
        {% for q in questions %}
            <div>
                <p><strong>{{ forloop.counter }}. {{ q.question }}</strong></p>
                    {% for option in q.options %}
                        <label>
                            <input type="radio" name="q_{{ q.id }}" value="{{option}}">
                            {{ option }}
                        </label><br>
                    {% endfor %}
                <hr>
            </div>
        {% endfor %}
        <button type="submit">Submit Test</button>
    </form>
</body>
</html>
