<!DOCTYPE html>
<html>
<head>
    <title>Practice Test</title>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 10px;
            margin: 10px 0;
            background-color: hsl(54, 54%, 34%);
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>📝 Practice Engineering MCQ Test</h1>
    <a href="{% url 'home' %}" class="btn">🏠 Back to Home</a>
    
    <form method="post" action="{% url 'take_test' %}">
        {% csrf_token %}
        <input type="hidden" name="chapter" value="{{ chapter }}">
        {% for q in questions %}
            <div>
                <p><strong>Q {{ forloop.counter }}. {{ q.question }}</strong></p>
                    {% for letter, option in q.option_map.items %}
                        <label>
                            <input type="radio" name="q_{{ q.id }}" value="{{option}}">
                            {{letter}}) {{ option }}
                        </label><br>
                    {% endfor %}
            </div>
            <hr>
        {% endfor %}
        <button type="submit">Submit Test</button>
    </form>  
</body>
</html>
